@import url("https://fonts.googleapis.com/css2?family=Manrope&display=swap");
.alumni {
  text-align: center;
}
.alumni-info {
  text-align: center;
  padding-bottom: 5rem;
}
.alumni-info span {
  font-weight: bold;
}
.alumni-rating {
  display: flex;
  justify-content: space-evenly;
  width: 15rem;
  margin: auto;
  padding-top: 0.5rem;
}
#ratingStars img {
  height: 24px;
  padding: 0.2rem;
}
#rating {
  font-size: 0.8rem;
  align-self: center;
}
.testimonial-wraper {
  min-height: 20rem;
}
.testimonial {
  max-width: 30rem;
  margin: auto;
  height: 100%;
  position: relative;
}
.testimonial__animated {
  max-width: 30rem;
  margin: auto;
  animation: fadeIn 250ms linear;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.testimonial__text {
  padding-bottom: 10rem;
}
.testimonial__student {
  position: absolute;
  bottom: 1rem;
  left: 0;
  right: 0;
  margin: auto;
  font-family: "Manrope", sans-serif;
}
.testimonial__student p:first-of-type {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}
.testimonial__student p:last-of-type {
  font-size: 0.9rem;
}
.alumni-content .form-check-input {
  cursor: pointer;
}

.radio-controls .form-check {
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .testimonial-wraper {
    min-height: 25rem;
  }
}
@media screen and (max-width: 800px) {
  .testimonial-wraper {
    min-width: 80%;
    min-height: 0;
  }
  .testimonial {
    padding-bottom: 1rem;
  }
}
