.content__general {
  text-align: center;
}
.content__general a {
  font-weight: bold;
}
.content__modules {
  padding-top: 5rem;
}
.module {
  margin-bottom: 1rem;
  min-height: 25rem;
}
.module p:nth-of-type(2) {
  min-height: 4rem;
  font-weight: bold;
}
.module div {
  padding: 1rem;
  height: 100%;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  position: relative;
}
.module p:last-of-type {
  padding-bottom: 2rem;
}
.module a {
  position: absolute;
  bottom: 2rem;
  font-weight: bold;
}
.module__number {
  text-transform: uppercase;
  color: #909090;
  font-weight: bold;
}
.platforms {
  padding: 5rem 0 3rem 0;
}
.platforms h2 {
  text-align: center;
}
.text-vertical {
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0.46;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-align: center;
  margin-top: 1rem;
}
.platforms .col {
  display: block;
  text-align: center;
}
.platforms img {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: 1rem;
}
.col-custom {
  display: flex;
  justify-content: space-evenly;
}
.included {
  padding-top: 5rem;
}
.included h2 {
  padding-bottom: 3rem;
}
.included__group {
  margin-bottom: 1rem;
}
.included__group--image {
  min-height: 2rem;
  display: grid;
  align-content: center;
  margin-bottom: 0.5rem;
}
.audience {
  padding-top: 5rem;
}
.audience__text h3 {
  font-weight: bold;
  padding-bottom: 2rem;
}
.audience__image-container img {
  height: auto;
  width: 100%;
}
@media screen and (max-width: 800px) {
  .module {
    min-width: 60%;
  }
  .col-custom {
    display: flex;
  }
  .text-vertical {
    writing-mode: initial;
    transform: none;
    text-align: center;
    margin-top: 2rem;
  }
  .included,
  .audience {
    text-align: center;
  }
  .included-feature {
    min-width: 60%;
  }
  .included__group {
    display: grid;
    justify-items: center;
    margin-top: 1rem;
  }

  .audience__image-wrapper {
    min-width: 90%;
  }
}
@media screen and (max-width: 560px) {
  .col-custom {
    display: grid;
  }
}
