.faq h1 {
  text-align: center;
  padding-bottom: 3rem;
}
.faq-content {
  padding: 3rem 4rem;
}
.accordion {
  font-weight: bold;
}
@media screen and (max-width: 800px) {
  .faq-content {
    padding: 0.5rem;
  }
}
