/*  styling for module3 modal  */
.module3 {
  font-weight: bold;
}
.modal-header {
  position: relative;
}
.module3 .modal-header p {
  text-transform: uppercase;
}
.modal-header .btn-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.light-gray-bg {
  background-color: #f5f5f5;
}
.dark-gray-bg {
  background-color: #eeeeee;
}
.module3 .col-4 {
  padding-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.module3 .col-8 {
  padding-top: 0.5rem;
  min-height: 4rem;
  margin-bottom: 0.2rem;
}
.module3-footer {
  text-align: center;
}

/*  styling for course1 modal  */
.course1 {
  font-weight: bold;
}
.course1-info,
.course1-info__location,
.course1-info__time {
  display: flex;
}

.course-info__icon-wrapper {
  margin-right: 0.5rem;
}
.course1-info__time {
  margin-left: 5rem;
}
.course1 .col-2 {
  padding-top: 0.5rem;
  margin-bottom: 0.2rem;
}
.course1 .col-10 {
  padding-top: 0.5rem;
  min-height: 4rem;
  margin-bottom: 0.2rem;
}
