.overview__learn {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  min-height: 50vh;
}
.overview__learn--text-container {
  justify-self: left;
  align-self: center;
  margin-left: 5rem;
}
.overview__learn--outcomes ul {
  list-style: none;
  padding-left: 0;
}
.overview__learn--outcomes i {
  color: #31b978;
}
iframe {
  justify-self: left;
  align-self: center;
  margin-right: 5rem;
  width: 80%;
  height: 80%;
}
.overview__course {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
}
.overview__course--images {
  justify-self: left;
  margin-left: 5rem;
}
.overview__course--images div {
  display: flex;
}
.overview__course--images img {
  padding: 0.5rem;
}
.overview__course--text {
  margin-right: 10rem;
  align-self: center;
}
